{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>{{_('Subject ID: %(subject)s', subject=subject)}}</p>
        </div>
        <div class="col-sm-4">
            <p>{{_('Administrator: %(admin)s', admin=current_user.username)}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>{{_('Date Selected: %(today)s', today=start)}}</p>
        </div>
        <div class="col-sm-4">
            <p>{{_('Date of last visit: %(end)s ', end=end)}}</p>
        </div>
        <div class="col-sm-4">
            <p>{{_('Number of days elapsed: %(days)i ', days=days)}}</p>
        </div>
    </div>
</div>
    <br>
    <h1>{{_('Substance use questions regarding the last %(days)i days.', days=days)}}</h1>
    <br>
    {{ wtf.quick_form(form) }}
    <br>
{% endblock %}
